title {
    color: green;
}
.grid {
    display: grid;
    background-color: yellow;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100%;
    grid-gap: 1px;
}
div {
    background-color: aqua;
    border-color: black;
}